<div class="center-content">
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<p><strong>Posted on:</strong> <%= @article.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>

<%= link_to 'Back', articles_path %>
</div>